.button
{
-fx-background-color: #0B1B28;
-fx-border-color: #0B1B28;
-fx-font-size: 12;
-fx-font-family: "Source Sans Pro";
-fx-font-weight: bold;
-fx-text-fill: "white";
-fx-cursor: pointer;
}

.button:pressed
{
-fx-background-color: #0B1B28;
-fx-border-color: #0B1B28;
}