.label
{
-fx-font-family: "Source Sans Pro";
-fx-font-size: 12;
-fx-font-weight: bold;
-fx-text-fill: #0B1B28;
}

.table-view .column-header{
-fx-text-fill: #91cb40;
}

.table-row-cell:even{
-fx-background-color: #f3f3f3;
}
.table-row-cell:odd{
-fx-background-color: "White";
}

