.button
{
-fx-background-color: "white";
-fx-border-color: "white";
-fx-font-size: 12;
-fx-font-family: "Source Sans Pro";
-fx-font-weight: bold;
-fx-text-fill: "Black";
-fx-cursor: pointer;
}

.button:hover{
-fx-background-color: #91cb40;
-fx-border-color: #91cb40;
-fx-text-fill: "White";
}

.button:pressed{
-fx-background-color: #3d6900;
-fx-border-color: blue;
-fx-text-fill: "White";
}

.label
{
-fx-font-family: "Source Sans Pro";
-fx-font-size: 12;
-fx-font-weight: bold;
-fx-text-fill: #845400;

}

.table-view .column-header{
-fx-text-fill: #91cb40;
}

/* 
.table-view{
-fx-background-color: ;
}

.table-view:focused{
-fx-background-color: ;
}

.table-view .column-header{
-fx-background-color:;
}

.table-row-cell:even{
-fx-background-color: #DFD6CB;
}
.table-row-cell:odd{
-fx-background-color: #ECE5DD;
}

.table-row-cell:selected{
-fx-background-color: #C69D70;
}*/